[user]
    name = ryurock
    email = ryusukekimura3@gmail.com
[color]
    ui = true
[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    st = status
    sh = show
    co = commit
    df = diff
[core]
    quotepath = false
    editor = /usr/bin/vim
